:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #5c8abe;
  text-decoration: inherit;
}

a:hover {
  color: #74bcff;
}

body {
  margin: 0;
  display: flex;
  min-width: 960px;
  min-height: 100vh;
}

#app {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 repeat(3, 10px);
  text-align: center;
}

header {
  margin: 0 -10px 15px -10px;
  padding: 7px;
  background-color: #daecfb;
  border-radius: 0 0 8px 8px;
  display: flex;
}

header nav {
  display: flex;
  justify-content: center;
}

h1,
h2,
h3,
h4,
h5 {
  color: #3c4c5a;
  user-select: none;
}

h1 {
  display: inline-block;
  margin: 0 20px;
  font-size: 2em;
}

h2 {
  font-size: 1.25em;
}

label {
  margin-left: 15px;
}

button,
input,
select {
  margin: 2px 6px;
  padding: 0.4em 0.8em;
  border-radius: 8px;
  border: 2px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f8f8f8;
  cursor: pointer;
  transition: all 300ms;
}

button:hover,
input:hover,
select:hover {
  border-color: #5d80c1;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button,
label {
  user-select: none;
}


svg text {
  user-select: none;
  pointer-events: none;
}

/* main page */

div.grid {
  width: fit-content;
  margin: 20px auto;
  padding: 0 10px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 18px;
  align-content: start;
  justify-content: start;
}

div.current-filters {
  grid-column: span 3;
}

div.card {
  padding: 15px 20px;
  width: 290px;
  height: 175px;
  background-color: #fefefe;
  border: 1px solid #ddd;
  border-radius: 12px;
  box-shadow: #eaeaea 0 0 8px;
  cursor: pointer;
  transition: all 500ms;
  user-select: none;
}

/* slightly gray out apps that have not been used */
div.card.never-used {
  /* box-shadow: rgba(255, 217, 0, 0.573) 0 0 8px; */
  opacity: 0.4;
}


div.card:hover {
  box-shadow: steelblue 0 0 8px;
}

div.card h2 {
  margin-top: 0;
  min-height: 30px;
  font-size: 16px;
}

div.card .description {
  margin-bottom: 5px;
  /* text-align: justify; */
  height: 80px;
}

div.card .usage {
  margin-bottom: 5px;
  font-size: 12px;
}

/* app */

div.control,
div.visualization {
  margin: 10px auto;
  padding: 0 10px;
  width: max-content;
  user-select: none;
}

p.explanation {
  width: fit-content;
  max-width: 850px;
  margin: auto;
  padding: 0 10px;
  text-align: justify;
  user-select: none;
}


/* used for keyboard shortcut styling */
code {
  background-color: #eee;
  padding: 4px;
  border-radius: 4px;
}


/* mobile style */
@media only screen and (max-width: 1300px) {
  header {
    display: block;
    border-radius: 0;
  }

  div.grid {
    grid-template-columns: repeat(2, auto);
  }

  div.current-filters {
    grid-column: span 2;
  }
}

@media only screen and (max-width: 960px) {

  div.grid {
    grid-template-columns: auto;
  }

  div.current-filters {
    grid-column: span 1;
  }

  div.card {
    width: 90%;
  }
}


/* printing style */
@media print {
  @page {
    size: A4 landscape;
    margin-top: 0.1cm;
    margin-right: 0.1cm;
    margin-bottom: 0.1cm;
    margin-left: 0.1cm;
  }

  header,
  .version-number {
    display: none;
  }

  #app {
    margin: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    page-break-after: avoid;
  }

  table,
  figure,
  img,
  svg {
    page-break-inside: avoid;
  }
}
